/*  A WORKING CSS ANIMATION FUEL METER   */
/*#logo {
    display: inline-block;
    position: relative;
}
#speedometer {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 20px solid #333;
    border-right: 20px solid white;
    border-bottom: 20px solid white;
    -webkit-transform: rotate(45deg);
    display: inline-block;
}
#needle {
    width: 10px;
    height: 100px;
    background: #FEAE50;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    left: 95px;
    position: absolute;
    top: 0px;
    -webkit-animation:move 5s infinite;
    transform:rotate(0deg);
    transform-origin:bottom;
}

@keyframes move {
    0% {
        transform:rotate(-90deg);
    }
    50% {
        transform:rotate(90deg);
    }
    100% {
        transform:rotate(-90deg);
    }
}

@-webkit-keyframes move {
    0% {
        -webkit-transform:rotate(-90deg);
    }
    50% {
        -webkit-transform:rotate(90deg);
    }
    100% {
        -webkit-transform:rotate(-90deg);
    }
}
*/


/*    END WORKING INFINITE ANIMATION  

      BEGIN OTHER WORKING HOVER ANIMATION   */

#logo:before {
  background: #333;
  border-radius: 200px 200px 0 0;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.15) inset;
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
}

#logo {
  border-radius: 200px 200px 0 0;
  height: 100px;
  margin: 50px auto 0;
  overflow: hidden;
  position: relative;
  width: 200px;
}

span {
  background: rgba(255, 80, 0, 0.7);
  border-radius: 4px;
  bottom: -4px;
  box-shadow: 3px -1px 4px rgba(0, 0, 0, 0.4);
  display: block;
  height: 8px;
  left: 10px;
  position: absolute;
  width: 90px;
  transform-origin: 100% 4px;
  transform: rotate(0deg);
  transition: all 1s;
}

span {
	width: 90px;
	height: 8px;
	background: #FEAE50;
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 100%;
	border-top-right-radius: 5px;
	display: inline-block;
	left: 10px;
	position: absolute;
	top: 90px;
    transform-origin: 100% 4px;
    transform: rotate(0deg);
    transition: all 1s;
/*	-webkit-animation: move 5s infinite;
	transform: rotate(0deg);
	transform-origin: bottom;*/
}

#logo:hover span {
  transform: rotate(180deg);
}